@use "sass:color";
@use "../settings/border";
@use "../settings/colors";
@use "../settings/sizes";
@use "../settings/spacing";
@use "../settings/typography";


@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans:wght@600&display=swap");

:root {
  --moz-container-width: 100%;
  --moz-container-padding: #{spacing.$sm};
  --moz-scrollbar-color: colors.$bg-gray-light;
  --moz-scrollbar-bg: transparent;
  --moz-scrollbar-border: colors.$white;

  --moz-font-family: "Lato", sans-serif;
  --moz-font-family-title: "Noto Sans", sans-serif;

  --moz-font-size-label: 0.857rem;
  --moz-font-weight-label: 300;
  --moz-line-height-label: 1.5715;
  --moz-font-family-label: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --moz-font-size-input: .9rem;
  --moz-font-weight-input: 400;
  --moz-line-height-input: 1.45;
  --moz-font-family-input: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --moz-cta-primary: #1e155a;
  --moz-cta-primary-text: white;
  --moz-cta-primary-hover: rgb(30 21 90 / 75%);
  --moz-cta-primary-text-hover: #ffffff;
  --moz-cta-primary-soft: #cfe2ff;
  --moz-cta-primary-soft-text: #084298;

  --moz-cta-secondary: #ff9b00;
  --moz-cta-secondary-hover:rgb(255 155 0/ 70%);
  --moz-cta-secondary-text: #fff;
  --moz-cta-secondary-text-hover: #fff;
  --moz-cta-secondary-soft: #e2e3e5;
  --moz-cta-secondary-soft-text: #41464b;

  --moz-cta-info: #017f74;
  --moz-cta-info-text: #055160;
  --moz-cta-info-hover: #cff4fc;
  --moz-cta-info-text-hover: #055160;
  --moz-cta-info-soft: #cff4fc;
  --moz-cta-info-soft-text: #055160;

  --moz-cta-danger: #f83d32;
  --moz-cta-danger-text: white;
  --moz-cta-danger-hover: #ed8f8a;
  --moz-cta-danger-text-hover: white;
  --moz-cta-danger-soft: #f8d7da;
  --moz-cta-danger-soft-text: #842029;

  --moz-cta-warning: #eff37f;
  --moz-cta-warning-text: #1e155a;
  --moz-cta-warning-hover: #f2f5af;
  --moz-cta-warning-text-hover: #1e155a;
  --moz-cta-warning-soft: #fff3cd;
  --moz-cta-warning-soft-text: #664d03;

  --moz-cta-success: #2c9a16;
  --moz-cta-success-text: white;
  --moz-cta-success-hover: #70cd60;
  --moz-cta-success-text-hover: white;
  --moz-cta-success-soft: #d1e7dd;
  --moz-cta-success-soft-text: #0f5132;

  --moz-bg-gray: #787676;
  --moz-bg-gray-light: #e5e7eb;
  --moz-bg-gray-lighter: #f9f9f9;
  --moz-bg-primary: #017f74;
  --moz-bg-active: rgb(1 126 116 / 15%);

  --moz-text-input: #333;
  --moz-text-label: #5e5873;
  --moz-text-title: #1e2048;
  --moz-text-primary: #545454;
  --moz-text-secondary: #787676;
  --moz-text-success: #84cc16;

  --moz-input-active: #ff9b00;
  --moz-input-default: #787676;
  --moz-input-border: #cccccc;

  --moz-state-active: #1e155a;
  --moz-state-error: #f83d32;
  --moz-state-disabled: gray;
  --moz-state-disabled-bg: #f9f9f9;

  --moz-checbox-active: #1e155a;
  --checkbox-disabled: #e5e7eb;
  --checkbox-disabled-bg: #f9f9f9;

  --moz-border: #e5e7eb;
  --moz-border-hover: #b1b1b1;

  @media (min-width: sizes.$mobile) {
    --moz-container-width: 100%;
    --moz-container-padding: #{spacing.$md};
  }

  @media (min-width: sizes.$tablet) {
    --moz-container-width: 100%;
    --moz-container-padding: #{spacing.$lg};
  }

  @media (min-width: sizes.$desktop) {
    --moz-container-width: #{sizes.$desktop};
    --moz-container-padding: #{spacing.$xxl};
  }
}

.moz {

  html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    color: colors.$text-primary;
    font: typography.$b300-regular;
    font-family: #{typography.$font-family};
  }

  a {
    color: colors.$text-primary;
  }

  :focus-visible {
    outline: 1px solid colors.$cta-primary;
    border-color: transparent;
  }
}
